:root{
  --alt-color:rgb(255, 16, 240);
  --rgba-color: rgb(128, 0, 255, 0.3);
  --main-color: white;
  --huge-size: 5rem;
  --basic-size:1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}







